<p id="notice"><%= notice %></p>
<p> Thanks <%= @user_register.name %>, for Registering, you will recieve an email the day before event<p>
<p>
  <strong>Your email is :</strong>
  <%= @user_register.email %>
</p>

<%= link_to 'Back to Events', events_path %>
