


  <!-- Main Page Content and Sidebar -->

  <div class="row">
    <!-- Main Blog Content -->
    <div class="large-12 columns hero" role="content">
      <h1 class="title">Create, manage  and enroll in volunteer events.</h1>
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <h4 class="subtitle">Event Organizers</h4>
          <p>Have an event? Need volunteers? Create an event that people can sign up for. Contact your volunteers by email.</p>
          <p><%= link_to 'Create an event', '/', class: 'button radius small' %></p>
        </div>
        <div class="large-6 columns right-border">
          <h4 class="subtitle">Volunteers</h4>
          <p>Want to help save the world? View our <%= link_to 'Events', '/' %>, sign up for one that interests you. Or go create your own!</p>
          <p><%= link_to 'View Events', '/', class: 'button radius small' %></p>
        </div>
      </div>
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">
<!--       <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More →</a>
      </div>
 -->
    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->



