


  <!-- Main Page Content and Sidebar -->

  <div class="row">
    <!-- Main Blog Content -->
    <div class="large-12 columns hero" role="content">
      <h1 class="title">Create, manage  and enroll in volunteer events.</h1>
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <h4 class="subtitle">Event Organizers</h4>
          <p>Have an event? Need volunteers? Create an event that people can sign up for. Contact your volunteers by email.</p>
          <p><%= link_to 'Create an event', new_event_path, class: 'button radius primary' %></p>
        </div>
        <div class="large-6 columns right-border">
          <h4 class="subtitle">Volunteers</h4>
          <p>Want to help save the world? Register to one of our <%= link_to 'Events', new_user_register_path %>, sign up for one that interests you. Or go create your own!</p>
          <p><%= link_to 'View Events', events_path, class: 'button radius primary' %></p>
        </div>
      </div>
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->



