// color palette
$background-color : #fff6c5;
$secondary-background-color: #cfc291;
$tertiary-background-color: #695d46;

$default-link-color: #a1e8d9;
$active-link-color: #ff712c;
$body-bg: #e2d8c1;

.full-width {
  background-color: $secondary-background-color;
  position: relative;
}

.nav-wrapper {
  margin-bottom: 3em;
}

.logo {
  font-family: 'Oleo Script Swash Caps', sans-serif;

  a {
    color: $tertiary-background-color;
    display: inline-block;

    &:first-letter {
      color: $active-link-color;
      font-size: 2.5rem;
    }
  }
}

.log-in {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.6em;

  li + li {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid $background-color;
  }

  a {
    color: $tertiary-background-color;
  }
}

.subtitle {
  font-family: 'Alfa Slab One', sans-serif;
  color: $tertiary-background-color;
}

.title {
  margin: 2rem 0;
  font-family: 'Alfa Slab One', sans-serif;
  color: $active-link-color;
  text-shadow: -3px -3px 0 #fff;
  text-align: center;
}

.button.primary {
  background-color: $default-link-color;
  color: $tertiary-background-color;
  font-weight: bold;
  color: #fefefe;
}

form {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
  overflow: hidden;
  border: 1px solid $secondary-background-color;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.list-item {
  background: #FEFEFE;
  padding: 0.5em 0.5em 0;
  margin-bottom: 1em;
  border: 1px solid $secondary-background-color;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);

  .subtitle {
    background-color: rgba(207, 194, 145, 0.4);
    margin: -0.25em -0.25em 1em;
    padding: 0.25em;
  }
}
